@font-face {
font-family: 'CustomFontName'; 
src: url("./FontFile/AvengeanceHeroicAvengerBoldItalic-R73A.ttf") format('truetype'); 
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background-image: url("https://wepik.com/api/image/ai/9a859a92-42ef-4e5e-8a36-2708199a2619");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    backdrop-filter: brightness(30%);
}

.Container{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}






#Home-title{
    display:flex ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#home-button{
    opacity: 0;
}

.Home-Page{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Home-game-Pic{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}



#Home-title p{
    font-family: 'CustomFontName', sans-serif;
    font-size: 55px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; 
    background: linear-gradient(90deg, #b90000, #e71d6e, #5076f1);  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

#sound-button{
    cursor: pointer; 
}
.Home-game-Pic img{
    width: 500px;
    height: 350px;
}

.Play-button img{
    width: 230px;
}

.Play-button img:hover{
    transition: 0.5s ease-in;   
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 900px){

    html{
        width: 100vw;
        height: 100vh;
    }

    body{
        height: 100%;
        width: 100%;
        background-image: url("https://wepik.com/api/image/ai/9a859a92-42ef-4e5e-8a36-2708199a2619");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        backdrop-filter: brightness(30%);
    }
    
    .Container{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    

    
    #home-button{
        opacity: 0;
    }

    #Home-title p{
        font-family: 'CustomFontName', sans-serif;
        font-size: 30px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black; 
        background: linear-gradient(90deg, #b90000, #e71d6e, #5076f1);  
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    
    }

    .Home-game-Pic img{
        width: 300px;
        height: 250px;
    }
    
    .Play-button img{
        width: 150px;
        padding-right: 40px;
    }

}