/* Page-Title Font Link */

@font-face {
    font-family: 'Avengers'; 
    src: url("../AvengeanceHeroicAvengerBoldItalic-R73A.ttf") format('truetype'); 
} 


/* Start Button Font Link */
@font-face {
    font-family: 'start';
    src: url("../Audiowide-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./GamePageBackground.jpeg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.Game-container{
    width: 100%;
    height: 100vh;
}

.Layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Game-Part{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}


.Game-title h1{
    text-align: center;
    font-family: 'Avengers', sans-serif;
    font-size: 60px;
    text-indent: 30px;
    padding-top: 20px;
    background: linear-gradient(90deg, #b90000, #e71d6e, #5076f1);    
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;   
}


.iron-gif {
    padding-left: 100px;
}

.iron-gif p{
    text-align: center;
    font-family: 'Avengers', sans-serif;
    font-size: 50px;
    background: linear-gradient( to right , rgb(55, 253, 0), rgb(5, 45, 156));  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 

}

.Thanos-gif {
    padding-right: 100px;
}


.Thanos-gif p{
    text-align: center;
    font-family: 'Avengers', sans-serif;
    font-size: 50px;
    background: linear-gradient( to right , rgb(211 0 253), rgb(5, 45, 156));  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.Start-button{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Start-button button{
    width: 140px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-family: 'start',sans-serif;
    font-size: 25px;
    color: white;   
    background-color: rgba(21, 89, 168, 1);
}

.Start-button button:hover{
    transition: 0.5s ease-in;   
    transform: scale(1.1);
    cursor: pointer;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 2px solid black;
    width: 630px;
    background-color: rgb(74, 74, 198);
}

ul{
    display: grid;
    place-items: center; 
}

ul p{
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

ul:hover{
    cursor: pointer;
    background-color: rgb(98, 136, 238);
}


@media(max-width:700px){
    .board{
        width: 500px;
    }
    ul p{
        width: 55px;
        height: 55px;
        
    }
    
}

@media(max-width:520px){
    .board{
        width: 400px;
    }
    ul p{
        width: 40px;
        height: 40px;
        
    }
    
}
@media(max-width:420px){
    .board{
        width: 320px;
    }
    ul p{
        width: 30px;
        height: 30px;
        
    }
    
}