/* Page-Title Font Link */

@font-face {
    font-family: 'Avengers'; 
    src: url("../FontFile/AvengeanceHeroicAvengerBoldItalic-R73A.ttf") format('truetype'); 
} 


/* Start Button Font Link */
@font-face {
    font-family: 'start';
    src: url("../FontFile/Audiowide-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: radial-gradient(circle at 100% 20%, rgba(54, 60, 68, 1) , rgba(20, 20, 20, 1) );
    background-size: 100vw 100vh;
}

/* .sound{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

.Instruction-Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



#home-button{
    cursor: pointer;
}

#sound-button{
    cursor: pointer; 
}

#Instructions{
    height: 100%;
    width: 100%;
}

#Instructions-text{
    width: 100%;
    height: 100%;
}

#Instructions-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;    
}

.sound-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.volume-slider {
    position: absolute;
    top: 12px;
    left: 90px;
    transform: translateX(-50%);
    width: 100px;
    display: none;
}

.sound-button:hover .volume-slider {
    display: block;
}



#Instructions-text p{
    font-family: 'Avengers', sans-serif;
    font-size: 60px;
    text-indent: 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; 
    background: linear-gradient( to right , #ec3c3c, #5076f1);  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.Instruction-Box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    margin-top: 30px;
    justify-content: center;
}


.Instruction-Content{
    width: 100%;
    height: 100%;
    background-color: rgba(248, 245, 245, 0.032);
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* display: flex; */
}

.Instruction-Content h2{
    font-family: 'Avengers', sans-serif;
    font-size:45px;
    text-indent: 20px;
    padding-top: 20px;  
    background: linear-gradient( to right , #ec3c3c, #5076f1);  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
}

.Instruction-Content h3{
    font-family: 'Avengers', sans-serif;
    font-size: 35px;
    text-indent: 30px;
    background: linear-gradient( to right , #ec3c3c, #5076f1);  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
}

.Instruction-Content p{
    font-family: 'start',sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 25px;
    color: white;
    line-height: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}



#Captain-pic img{
    width: 400px;
}

.Start-button{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-left: 30px;

}


.Start-button button{
    width: 140px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-family: 'start',sans-serif;
    font-size: 25px;
    color: white;   
    background-color: rgba(21, 89, 168, 1);
}

.Start-button button:hover{
    transition: 0.5s ease-in;   
    transform: scale(1.1);
    cursor: pointer;
}


@media only screen and (max-width:900px){


    .Instruction-Container{
        width: 900px;;
        height: 425px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .home-button svg{
        width: 20px;
    }
    
    
    #home-button{
        cursor: pointer;
    }
    
    #sound-button{
        cursor: pointer; 
    }
    
    #Instructions{
        height: 425px;
        width: 900px;
    }
    
    #Instructions-text{
        width:80%;
        height: 50%;
        padding-bottom: 30px;
    }
    
    #Instructions-text{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* margin-top: px;     */
    }
    
    .sound-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    
    /* .volume-slider {
        position: absolute;
        top: 12px;
        left: 90px;
        transform: translateX(-50%);
        width: 100px;
        display: none;
    } */
    
    .sound-button:hover .volume-slider {
        display: block;
    }
    
    
    
    #Instructions-text p{
        font-family: 'Avengers', sans-serif;
        font-size: 30px;
        text-indent: 10px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black; 
        background: linear-gradient( to right , #ec3c3c, #5076f1);  
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
    }

    svg{
        width: 20px;
    }
    
    .Instruction-Box{
        width: 900px;
        height: 425px;
        display: flex;
        align-items: center;
        padding-left: 100px;
        margin-top: -15px;
        justify-content: center;
    }
    
    .Instruction-Content{
        width: 90%;
        height: 98%;
    }
    
    .Instruction-Content h2{
        font-family: 'Avengers', sans-serif;
        font-size:22px;
        /* text-indent: 20px; */
        padding-top: 25px;  
        background: linear-gradient( to right , #ec3c3c, #5076f1);  
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black; 
    }
    
    .Instruction-Content h3{
        font-family: 'Avengers', sans-serif;
        font-size: 20px;
        text-indent: 30px;
        background: linear-gradient( to right , #ec3c3c, #5076f1);  
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black; 
    }
    
    .Instruction-Content p{
        font-family: 'start',sans-serif;
        font-size: 12px;
        padding-top: 5px;
        /* padding-left: 25px; */
        color: white;
        line-height: 20px;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: black; 
    }
    
    
    
    #Captain-pic img{
        width: 200px;
    }
    
    .Start-button{
        width: 100%;
        height: 100%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    
    
    .Start-button button{
        width: 70px;
        height: 30px;
        border-radius: 5px;
        border: none;
        font-family: 'start',sans-serif;
        font-size:15px;
        color: white;   
        background-color: rgba(21, 89, 168, 1);
    }
    
    .Start-button button:hover{
        transition: 0.5s ease-in;   
        transform: scale(1.1);
        cursor: pointer;
    } 

}