@font-face {
    font-family: 'Avengers'; 
    src: url("../AvengeanceHeroicAvengerBoldItalic-R73A.ttf") format('truetype'); 
} 


/* Start Button Font Link */

@font-face {
    font-family: 'start';
    src: url("../Audiowide-Regular.ttf");
}


body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("./ThanosWin1.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.video-container{
    width: 100%;
    height: 100%;
}

.Result-Container{
    width: 100%;
    height: 100%;
}

.Win-Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.Win-text ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.Win-text li{
    align-items: center;
    font-family: 'Avengers', sans-serif;
    font-size: 100px;
    padding-bottom: 0px;
    background: linear-gradient( to right,rgb(144, 0, 255) ,#f16e50);    
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;   
}

.Button{
    width: 30%;
    display:flex;
    justify-content: space-around;
}

#Play-again{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: 'start',sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgba(21, 89, 168, 1);
}

#Exit-button{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: 'start',sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgba(21, 89, 168, 1);
}
